*{
    margin: 0;
    padding: 0;
}
.myheader{
    background-color: #044215; /* Magenta */
    padding: 50px;
    text-align: center;
}

.myheader h1 {
    font-size: 72px;
    color: #00ff00; /* Green */
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.myheader p {
    font-size: 24px;
    color: #0000ff; /* Blue */
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}
nav{
    background: #25bc03;
    height: 10vh;
}
nav ul{
    display: flex;
}
.right{
    display: flex;
    padding: 5px;
}
nav ul li{
    list-style: none;
    padding: 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #f6d309;
    font-weight: bold;
    font-size: larger;
    
}
.imagePart img{
    height: 300px;
    width: 300px;
    border-radius: 30%;
    padding: 10px;
    margin: 10px;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbafaf;
}
.imagePart{flex-basis: 40%;
}
.contextPart{
    flex-basis: 60%;
}














.col-md-4{
    height: 400px;
    width: 600px;
    flex-basis: 40%;
}
.col-md-4 img{

    
    height: 400px;
}
#loacationForm{
    width: 500px;
    color: #f6f2f2;
}
.card{
    
    
} 
.card mb-3{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}
.card mb-3{
    
}



